<!-- BOOTSTRAP MODALS TRANSFER  -->
<div class="modal fade" id="create-survey-modal" tabindex="-1" role="dialog" aria-labelledby="create-survey-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create-survey-label">Create Survey</h5>
        </button>
      </div>

      <div class="modal-body">
        <form id="create-survey">
          <div class="form-group">
            <label for="survey-title">Survey Title</label>
            <input type="text" class="form-control" id="survey-title" name="survey[title]" placeholder="Title">
          </div>
          <div class="form-group">
            <label for="survey-question-1">Question 1</label>
            <input type="text" class="form-control" id="survey-question-1" name="question1[text]" placeholder="Question">
          </div>
          <div class="form-group">
            <label for="question-1-option-1">Question Options</label>
            <input type="text" class="form-control" id="question-1-option-1" name="question1[option1]" placeholder="Option 1">
            <input type="text" class="form-control" id="question-1-option-2" name="question1[option2]" placeholder="Option 2">
          </div>
          <!-- <div class="form-inline">
            <input type="text" class="form-control col-11" id="question-n-option-n" name="questionn[optionn]" placeholder="Click button to add another option..." disabled>
            <button id="newOption" type="button" class="col-1 btn btn-primary new-option-btn">+</button>
          </div> -->
          <div class="">
            <button type="submit" class="btn btn-primary">Create Survey</button>
            <button type="button" class="btn btn-primary new-question-btn">Add another question</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
