<div class="form-group">
  <label for="survey-question-1">Question 1</label>
  <input type="text" class="form-control" id="survey-question-1" name="question{{@index}}[text]" value="{{question.text}}">
</div>
<div class="form-group">
  <label for="question-1-option-1">Question Options</label>
  {{#each question.responses as |response|}}
    {{> question-response response=response }}
  {{/each}}
</div>
