<!-- Create jumbotron -->
<div class="jumbotron">
  <h1 class="display-4">What The Duck?</h1>
  <p class="lead">This is an application that users can use to create their own surveys, edit them, create their answers and even delete them if they want to!.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg create-survey-button" href="#" role="button">Create a survey</a>
</div>
