<!-- Index surveys -->
<button type="submit" class="btn btn-primary" id="index-surveys-button">All surveys</button>
<!-- Show survey -->
<h2>Show survey</h2>
<form id="show-survey">
  <div class="form-group">
    <label for="survey-id">Survey ID</label>
    <input type="text" class="form-control" id="survey-id" name="survey[id]" placeholder="ID">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
