<div class="container container-margin" id="survey-container">
  <div class="row" id="survey-row">
    {{#each surveys as |survey|}}
      {{#if (ownership survey.owner) }}
        {{> survey-preview survey = survey}}
      {{/if}}
    {{/each}}
  </div>
</div>
