<!-- BOOTSTRAP MODALS TRANSFER  -->
<div class="modal fade" id="respond-survey-modal" tabindex="-1" role="dialog" aria-labelledby="respond-survey-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="respond-survey-label">{{survey.title}}</h5>
        </button>
      </div>

      <div class="modal-body">
        <div class="col">
          <form id="survey-form">
            <input type="hidden" name="survey[id]" value="{{survey._id}}">
            {{#each survey.questions as |question| }}
              {{> survey-question surveyId=survey._id question=question }}
            {{/each}}
            <button type="submit" class="btn btn-warning mt-3">Submit</button>
            <button type="submit" class="btn btn-warning mt-3 results-btn" data-id="{{survey._id}}">Results</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
