<div class="container container-margin" id="survey-container">
  <div class="row" id="survey-row">
    {{#each surveys as |survey|}}
      {{> survey-preview survey = survey}}
    {{/each}}
  </div>
</div>
