<div class="col">
  <div class="card">
    <div class="card-header">
      {{survey.title}}
    </div>
    <div class="card-body">
      {{#each survey.questions as |question|}}

        <p>{{question.title}}</p>
      {{/each}}
      <a href="#" class="btn btn-primary respond-btn" data-id="{{survey._id}}">Respond</a>
      <a href="#" class="btn btn-primary results-btn" data-id="{{survey._id}}">Results</a>
      {{#if (ownership survey.owner) }}
        {{> delete survey = survey}}
        {{> edit survey = survey}}
      {{/if}}
    </div>
  </div>
</div>
