<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">What the DUCK?!</a>
  <img src="https://media2.giphy.com/media/YX8JyYdadExFdQ1H2J/source.gif" width="50" height="50" alt=“animated gif file number 1” title=“animated gif file number 1”/>
</nav>
