@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Fredericka+the+Great&display=swap');

button {
  @extend .btn;
  @extend .btn-primary;
}

.new-option-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
}

input {
  margin-bottom: .75rem;

  &:not([type="submit"]) {
    @extend .form-control
  }
}

nav {
  @extend .navbar;
  @extend .navbar-dark;
  @extend .bg-dark;
  @extend .fixed-top;

  .app-name {
    @extend .navbar-brand;
    @extend .h1;
    margin-bottom: 0;
  }
}

.after-sign-in {
  display: none;
}

.carousel-control-next {
  width: 4%;
}

.carousel-control-prev {
  width: 4%;
}

.carousel-control-prev-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23000" viewBox="0 0 8 8"%3E%3Cpath d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"/%3E%3C/svg%3E');
}

.carousel-control-next-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23000" viewBox="0 0 8 8"%3E%3Cpath d="M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z"/%3E%3C/svg%3E');
}

.container-margin {
  margin-top: 5vh;
}

.fred-font {
  font-family: 'Fredericka the Great', cursive;
}

.jumbo {
  animation-duration: 2s;
  color: $white;
  font-size: 80px;
  padding: 0 10%;
  text-shadow: 2px 2px 4px $white;
}

.jumbotron {
  background-image: url('https://i.ytimg.com/vi/CjLqyKDiXN4/maxresdefault.jpg');
  background-size: cover;
	background-repeat: no-repeat;
}

.message-container {
  @include media-breakpoint-up(sm) {
    @include make-col(8);
  }
  @include media-breakpoint-up(md) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }

  bottom: 1rem;
  left: 1rem;
  margin: auto;
  position: fixed;
  right: 1rem;
}

.navbar-brand {
  font-family: 'Fredericka the Great', cursive;
  font-size: 2rem;
}
