<!-- Create jumbotron -->
<div class="jumbotron">
  <h1 class="display-4 animated zoomInDown jumbo">What The Duck?</h1>
  <p class="lead">This is an application that users can use to create their own surveys, edit them, and respond to other users' surveys.</p>
  <hr class="my-4">
  <a class="btn btn-primary create-btn ml-auto">Create Survey</a>
</div>
