<!-- Create jumbotron -->
<div class="jumbotron">
  <h1 class="display-4 animated zoomInDown jumbo fred-font">What The DUCK?!</h1>
  <hr class="my-4">
  <button class="btn btn-warning create-btn btn-lg ml-5">Create Survey</button>
</div>
