<div id="view" class="container">
  <div class="jumbotron-holder">
    {{> jumbotron }}
  </div>
  <div class="carousel-holder">
    <h2 class="fred-font">See what others are asking:</h2>
    {{> carousel }}
  </div>
</div>
<div class="modal-container">
</div>
