<div id="view" class="container">
  <div class="jumbotron-holder">
    {{> jumbotron }}
  </div>
  <div class="carousel-holder">
    {{> carousel }}
  </div>
</div>
<div class="modal-container">
</div>
